<ion-header>
  <ion-navbar>
    <ion-title>Record a Meal</ion-title>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <div>
    <ion-segment [(ngModel)]="mealType">
      <ion-segment-button value="mains" class="no-radius">
        Mains
      </ion-segment-button>
      <ion-segment-button value="sides" class="no-radius">
        Sides
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="mealType">
    <ion-grid *ngSwitchCase="'mains'" class="no-pad">
      <ion-row>
        <ion-searchbar (ionInput)="getMains($event)"></ion-searchbar>
      </ion-row>
      <ion-row>
        <ion-list style="width:100%;" radio-group>
          <ion-item *ngFor="let item of mains" style="width:100%;">
            <ion-label>{{ item }}</ion-label>
            <ion-radio value="{{item}}"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>

   <ion-grid *ngSwitchCase="'sides'" class="no-pad">
      <ion-row>
        <ion-searchbar (ionInput)="getSides($event)"></ion-searchbar>
      </ion-row>
      <ion-row>
        <ion-list style="width:100%;">
          <ion-item *ngFor="let item of sides" style="width:100%;">
            <ion-label>{{ item }}</ion-label>
            <ion-radio value="{{item}}"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab right bottom (click)="goToHome()">
    <button ion-fab color="primary"><ion-icon name="arrow-dropright"></ion-icon></button>
    <ion-fab-list side="left">
    </ion-fab-list>
  </ion-fab>


</ion-content>
